/* Set a style for all elements inside the header i.e. Sign Up button, Sign In button,
the title "ScriBBler" & the sub-heading below "ScriBBLer" */

.topButtons {
    background-color: blue;
    font-size: 14px;
    float: right;
    margin-right: 10px;
    margin-top: 5px;
    padding: 10px 18px;
    color: white;
    cursor: pointer;
 }

 .logo-title {
   color: #1f21a8;
   font-size: 50px;
   text-decoration: none;
   padding-left: 8px;
     font-family: 'Satisfy', cursive;

 }
 
.middleText {
    font-size: 16px;
    margin-top: -3px;
    padding-left: 10px;
    font-family: 'Satisfy', cursive;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  padding-top: 10px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 33%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    text-align: left;
    font-family: Abel, Regular;
    font-weight: bold;
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.modal-header {
    padding: 2px 16px;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 15px;
}

.modal-body {
    margin-top: 8px;
    padding: 10px 20px 20px 20px;
    background-color: white;
}

.modal-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: -15px 0px 10px 0px;
    width: 100%;
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 17px;
}

/* The Close Button */
.close {
    color: gray;
    float: right;
    font-size: 35px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

form {
  padding: 20px 10px;
}

.form-group {
  margin: 12px 0;
}

label {
    text-align: left;
    font-size: 16px;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 10px 20px 10px 10px;
    margin: 4px 0px 16px 0px;
    background-color: #F0F0F0;
    display: inline-block;
    border: 0px solid whitesmoke;
    box-sizing: border-box;
    font-family: Abel, Regular;
    font-size: 14px;
}

.modalbtn {
  width: 100%;
  padding: 12px 7px;
  background-color: #5eb762;
  color: white;
  outline: none;
  border: none;
  margin: 5px 0;
  cursor: pointer;
}


#signUpLink {
  text-decoration: none;
  color: #1f21a8;
}
