body {
  background: url('background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  margin: 0 !important;
  background-size: 100% cover!important;
  overflow: hidden;
  display: block;
}


/* Set a style for the rest of the elements besides the header elements on the index.html page */

.postButtons {
  text-align: center;
  transform: translate(0, 150px);
}

.middlebutton {
  background: #c9b328;
  font-weight: 700;
  font-size: 16px;
  padding: 10px 12px;
  margin: 5px;
  cursor: pointer;
}

.midbtn {
  text-decoration: none;
  color: black;
}

.modal-content1 {
  transform: translate(0, 130px);
  background-color: #fefefe;
  margin: 2% auto;
  padding: 8px 20px;
  border: 1px solid #888;
  width: 28%;
}

.modal-header1 h1 {
  text-align: center;
  color: black;
}

.postbtns {
  display: flex;
  justify-content: flex-end;
}

.postbtn {
  margin: 0 5px;
}

#createpostbtn a {
  text-decoration: none;
  color: white;
}

#createpostbtn {
  padding: 12px 7px;
  width: 100px;
  background-color: #5eb762;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
}

#closepostbtn {
  width: 100px;
  padding: 12px 7px;
  background-color: #f5564a;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
}

#contentTextarea {
   width: 100%;
   background-color: #F0F0F0;
}

.create-post-modal-header {
   background-color: white;
   color: black;
   text-align: center;
   font-family: Abel, Regular;
   font-size: 20px;
   margin-top: -20px;
}

.create-post-modal-body {
   margin: 0px 40px 0px;
   font-family: Abel, Regular;
   font-weight: bolder;
   font-size: 20px;
}

.create-post-modal-body label {
   display: block;
   font-weight: 600;
}

.create-modal-footer {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   margin: 10px 0px 10px 0px;
   width: 100%;
   background-color: white;
   color: black;
}

#createPostClose {
   color: black;
   font-size: 32px;
   font-weight: bold;
   padding-right: 15px;
   margin-top: -8px;
}

#title {
   width: 50%;
}

.create-post-modal-content {
   position: relative;
   background-color: #fefefe;
   margin: auto;
   padding: 0;
   border: 1px solid #888;
   width: 60%;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   -webkit-animation-name: animatetop;
   -webkit-animation-duration: 0.4s;
   animation-name: animatetop;
   animation-duration: 0.4s;
   text-align: left;
}

input.createButton {
   background-color: #4CAF50;
   color: white;
   padding: 8px 16px;
   margin: 8px 0;
   border: none;
   cursor: pointer;
   font-weight: 600;
}

@-webkit-keyframes animatetop {
   from {
      top: -500px;
      opacity: 0
   }

   to {
      top: 0;
      opacity: 1
   }
}

@keyframes animatetop {
   from {
      top: -500px;
      opacity: 0
   }

   to {
      top: 0;
      opacity: 1
   }
}